.button.is-black {
    background-color: #000000;
    border-color: transparent;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #eeeeee;
    padding: 3em;
}

.landing {
    margin-bottom: 10em;
    
}

.landing-body {
    padding: 3em;
}

.landing-body .title {
    margin-top: 2em;
    font-size: 4em;
}

.landing-body .subtitle {
    padding-top: 1em;
}

.products {
    margin-bottom: 5em;
}

.product {
    margin-bottom: 3em;
}

.product-info {
    padding: 4em 3em;
}

.product-image {
    max-height: 30em;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.product-one {
    background-color: hsl(171, 100%, 41%);
}

.product-two {
    background-color: hsl(204, 86%, 53%);
}

.product-three {
    background-color: hsl(141, 71%, 48%);
}

.product-image img {
    width: 70%;
}

.product-title {
    font-weight: bold;
    font-size: 3em;
}

.product-desc {
    font-size: 2em;
}